.version.index /* version checker */
{
	color: #000013;
	background-color: #CDDA21;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3899.8750000000073px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -33px;
	width: 0.01px;
}

#u1323
{
	z-index: 475;
	height: 60px;
	-pie-box-shadow: 0px 5px 5px #7F7F7F;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
}

#u1323:hover
{
	height: 60px;
	min-height: 0px;
	margin: 0px;
}

#u1323-bw
{
	z-index: 475;
}

#inicio
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 569px;
}

#u1324
{
	z-index: 477;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -174px;
}

#u1324_states
{
	height: 27px;
	width: 100px;
	vertical-align: top;
	background: url("../images/u1324_states.png") no-repeat 0px 0px;
}

#u1324:hover #u1324_states
{
	background: url("../images/u1324_states-r.png") no-repeat 0px 0px;
}

#u1324:active #u1324_states
{
	background: url("../images/u1324_states-m.png") no-repeat 0px 0px;
}

#u1324.MuseLinkActive #u1324_states
{
	background: url("../images/u1324_states-a.png") no-repeat 0px 0px;
}

#u1325
{
	z-index: 482;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -74px;
}

#u1325_states
{
	height: 27px;
	width: 135px;
	vertical-align: top;
	background: url("../images/u1325_states.png") no-repeat 0px 0px;
}

#u1325:hover #u1325_states
{
	background: url("../images/u1325_states-r.png") no-repeat 0px 0px;
}

#u1325:active #u1325_states
{
	background: url("../images/u1325_states-m.png") no-repeat 0px 0px;
}

#u1325.MuseLinkActive #u1325_states
{
	background: url("../images/u1325_states-a.png") no-repeat 0px 0px;
}

#u1326
{
	z-index: 487;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: 61px;
}

#u1326_states
{
	height: 27px;
	width: 100px;
	vertical-align: top;
	background: url("../images/u1326_states.png") no-repeat 0px 0px;
}

#u1326:hover #u1326_states
{
	background: url("../images/u1326_states-r.png") no-repeat 0px 0px;
}

#u1326:active #u1326_states
{
	background: url("../images/u1326_states-m.png") no-repeat 0px 0px;
}

#u1326.MuseLinkActive #u1326_states
{
	background: url("../images/u1326_states-a.png") no-repeat 0px 0px;
}

#u1327
{
	z-index: 492;
	position: fixed;
	top: 16px;
	left: 50%;
	margin-left: 311px;
}

#u1327_states
{
	height: 27px;
	width: 100px;
	vertical-align: top;
	background: url("../images/u1327_states.png") no-repeat 0px 0px;
}

#u1327:hover #u1327_states
{
	background: url("../images/u1327_states-r.png") no-repeat 0px 0px;
}

#u1327:active #u1327_states
{
	background: url("../images/u1327_states-m.png") no-repeat 0px 0px;
}

#u1327.MuseLinkActive #u1327_states
{
	background: url("../images/u1327_states-a.png") no-repeat 0px 0px;
}

#u1328
{
	z-index: 497;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: 161px;
}

#u1328_states
{
	height: 27px;
	width: 150px;
	vertical-align: top;
	background: url("../images/u1328_states.png") no-repeat 0px 0px;
}

#u1328:hover #u1328_states
{
	background: url("../images/u1328_states-r.png") no-repeat 0px 0px;
}

#u1328:active #u1328_states
{
	background: url("../images/u1328_states-m.png") no-repeat 0px 0px;
}

#u1329
{
	z-index: 501;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -556px;
}

#u1329_states
{
	height: 55px;
	width: 225px;
	vertical-align: top;
	background: url("../images/u1329_states.png") no-repeat 0px 0px;
}

#u1329:hover #u1329_states
{
	background: url("../images/u1329_states-r.png") no-repeat 0px 0px;
}

#u1329:active #u1329_states
{
	background: url("../images/u1329_states-m.png") no-repeat 0px 0px;
}

#u1329.MuseLinkActive #u1329_states
{
	background: url("../images/u1329_states-a.png") no-repeat 0px 0px;
}

#u596
{
	z-index: 508;
	height: 600px;
	background: transparent url("../images/inicio.jpg") no-repeat center top;
	background-size: cover;
}

#u596-bw
{
	z-index: 508;
	height: 600px;
}

#u1333
{
	z-index: 509;
	min-height: 388px;
	background-color: #BFBFBF;
	background-color: rgba(0,0,0,0.25);
	padding-bottom: 212px;
	-pie-background: rgba(0,0,0,0.25);
}

#u489-4
{
	z-index: 510;
	position: relative;
	width: 225px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 100px;
}

#u607-4
{
	z-index: 535;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 368px;
}

#u1333-bw
{
	z-index: 509;
	min-height: 388px;
}

#u519
{
	z-index: 514;
	position: relative;
	width: 47px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 76px;
}

#u961
{
	z-index: 517;
	position: relative;
	width: 135px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 485px;
}

#u961_states
{
	height: 27px;
	width: 135px;
	vertical-align: top;
	background: url("../images/u961_states.png") no-repeat 0px 0px;
}

#u961:hover #u961_states
{
	background: url("../images/u961_states-r.png") no-repeat 0px 0px;
}

#u961:active #u961_states
{
	background: url("../images/u961_states-m.png") no-repeat 0px 0px;
}

#u961.MuseLinkActive #u961_states
{
	background: url("../images/u961_states-a.png") no-repeat 0px 0px;
}

#u962
{
	z-index: 522;
	position: relative;
	width: 100px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 620px;
}

#u962_states
{
	height: 27px;
	width: 100px;
	vertical-align: top;
	background: url("../images/u962_states.png") no-repeat 0px 0px;
}

#u962:hover #u962_states
{
	background: url("../images/u962_states-r.png") no-repeat 0px 0px;
}

#u962:active #u962_states
{
	background: url("../images/u962_states-m.png") no-repeat 0px 0px;
}

#u962.MuseLinkActive #u962_states
{
	background: url("../images/u962_states-a.png") no-repeat 0px 0px;
}

#u963
{
	z-index: 527;
	position: relative;
	width: 100px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 870px;
}

#u963_states
{
	height: 27px;
	width: 100px;
	vertical-align: top;
	background: url("../images/u963_states.png") no-repeat 0px 0px;
}

#u963:hover #u963_states
{
	background: url("../images/u963_states-r.png") no-repeat 0px 0px;
}

#u963:active #u963_states
{
	background: url("../images/u963_states-m.png") no-repeat 0px 0px;
}

#u963.MuseLinkActive #u963_states
{
	background: url("../images/u963_states-a.png") no-repeat 0px 0px;
}

#u1037
{
	z-index: 532;
	position: relative;
	width: 150px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 720px;
}

#u1037_states
{
	height: 27px;
	width: 150px;
	vertical-align: top;
	background: url("../images/u1037_states.png") no-repeat 0px 0px;
}

#u1037:hover #u1037_states
{
	background: url("../images/u1037_states-r.png") no-repeat 0px 0px;
}

#u1037:active #u1037_states
{
	background: url("../images/u1037_states-m.png") no-repeat 0px 0px;
}

#u1901
{
	z-index: 540;
	-webkit-transform: matrix(0,-1,1,0,0,75);
	-ms-transform: matrix(0,-1,1,0,0,75);
	transform: matrix(0,-1,1,0,0,75);
	position: relative;
	width: 75px;
	margin-right: -10000px;
	margin-top: 454px;
	left: 542px;
}

#u1901_states
{
	height: 75px;
	width: 75px;
	vertical-align: top;
	background: url("../images/u1901_states.png") no-repeat 0px 0px;
}

#u1901:hover #u1901_states
{
	background: url("../images/u1901_states-r.png") no-repeat 0px 0px;
}

#u1901.MuseLinkActive #u1901_states
{
	background: url("../images/u1901_states-a.png") no-repeat 0px 0px;
}

#recorrido
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 529px;
	left: 569px;
}

#pu1330
{
	width: 0.01px;
	padding-bottom: 59px;
	margin-left: -100px;
	margin-top: -598px;
}

#u1330
{
	z-index: 505;
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -580px;
}

#u489-4_img,#u519_img,#u1330_img
{
	display: block;
	vertical-align: top;
}

#u1563
{
	z-index: 507;
	width: 161px;
	min-height: 59px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2px;
	left: 50%;
	margin-left: 419px;
}

#u619
{
	z-index: 330;
	min-height: 399px;
	background-color: #B5C2C6;
	padding-bottom: 1px;
}

#pu612-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 50px;
	margin-left: 100px;
}

#u612-4
{
	z-index: 331;
	display: block;
	vertical-align: top;
	position: relative;
}

#u614-9
{
	z-index: 335;
	display: block;
	vertical-align: top;
	margin-top: 48px;
	position: relative;
}

#pu720
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 116px;
	margin-left: 555px;
}

#u720
{
	z-index: 381;
	display: block;
	vertical-align: top;
	position: relative;
}

#caracteristicas
{
	margin-left: 14px;
	margin-top: 90px;
	position: relative;
}

#u619-bw
{
	z-index: 330;
	min-height: 399px;
}

#u618
{
	z-index: 22;
	min-height: 960.4999999999998px;
	background-color: #000000;
	padding-bottom: 1px;
}

#u618_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 51px;
	padding-bottom: 125px;
}

#u621-4
{
	z-index: 344;
	display: block;
	vertical-align: top;
	left: 99px;
	position: relative;
}

#pu663
{
	width: 0.01px;
	left: 25px;
	margin-top: 13px;
	position: relative;
}

#u663
{
	z-index: 362;
	width: 187px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u653
{
	z-index: 360;
	width: 188px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u622
{
	z-index: 348;
	width: 205px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u633
{
	z-index: 352;
	width: 187px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 920px;
}

#u1270-4
{
	z-index: 402;
	display: block;
	vertical-align: top;
	left: 629px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1266-4
{
	z-index: 388;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
}

#u1269-6
{
	z-index: 396;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u1271-4
{
	z-index: 406;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u1273-4
{
	z-index: 414;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 920px;
}

#u628
{
	z-index: 350;
	width: 187px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u643
{
	z-index: 356;
	width: 188px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u668
{
	z-index: 364;
	width: 188px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 612px;
}

#u673
{
	z-index: 366;
	width: 188px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 920px;
}

#pu1274-4
{
	width: 0.01px;
	left: 25px;
	margin-top: 1px;
	position: relative;
}

#u1274-4
{
	z-index: 418;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1277-4
{
	z-index: 426;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u1279-4
{
	z-index: 436;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u1284-4
{
	z-index: 448;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 920px;
}

#pu1266-4,#pu1275-4
{
	width: 0.01px;
	left: 25px;
	margin-top: 11px;
	position: relative;
}

#u1275-4
{
	z-index: 422;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1278-6
{
	z-index: 430;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u1280-4
{
	z-index: 440;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu628,#pu638
{
	width: 0.01px;
	left: 25px;
	margin-top: 24px;
	position: relative;
}

#u638
{
	z-index: 354;
	width: 188px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u643_img,#u638_img
{
	padding-right: 1px;
}

#u648
{
	z-index: 358;
	width: 188px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#pu1300-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 603px;
}

#u1300-4
{
	z-index: 452;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1301-4
{
	z-index: 456;
	width: 503px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 23px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 25px;
	position: relative;
}

#u618-bw
{
	z-index: 22;
	min-height: 960.4999999999998px;
}

#u1265-4
{
	z-index: 384;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 25px;
}

#u1267-4
{
	z-index: 392;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 327px;
}

#u1272-4
{
	z-index: 410;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 945px;
}

#u1282-4
{
	z-index: 444;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 835px;
	left: 25px;
}

#u1302
{
	z-index: 461;
	position: relative;
	width: 150px;
	margin-right: -10000px;
	margin-top: 858px;
	left: 813px;
}

#u1302_states
{
	height: 30px;
	width: 150px;
	vertical-align: top;
	background: url("../images/u1302_states.png") no-repeat 0px 0px;
}

#u1302:hover #u1302_states
{
	background: url("../images/u1302_states-r.png") no-repeat 0px 0px;
}

#u1420-6
{
	z-index: 464;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 835px;
	left: 327px;
}

#u690
{
	z-index: 368;
	min-height: 256px;
	background: #3F3F3F url("../images/contacto-u1787-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.75);
	background-size: cover;
}

#u690_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
	padding-top: 51px;
}

#u703-4
{
	z-index: 369;
	display: block;
	vertical-align: top;
	left: 466px;
	position: relative;
}

#u704-4
{
	z-index: 373;
	display: block;
	vertical-align: top;
	left: 466px;
	margin-top: 18px;
	position: relative;
}

#portfolio
{
	left: 568px;
	margin-top: 88px;
	position: relative;
}

#u690-bw
{
	z-index: 368;
	min-height: 256px;
}

#u705
{
	z-index: 378;
	position: relative;
	width: 175px;
	margin-right: -10000px;
	margin-top: 176px;
	left: 491px;
}

#u705_states
{
	height: 30px;
	width: 175px;
	vertical-align: top;
	background: url("../images/u705_states.png") no-repeat 0px 0px;
}

#u705:hover #u705_states
{
	background: url("../images/u705_states-r.png") no-repeat 0px 0px;
}

#u705.MuseLinkActive #u705_states
{
	background: url("../images/u705_states-a.png") no-repeat 0px 0px;
}

#u706
{
	z-index: 107;
	min-height: 676.9957758620698px;
	border-width: 1px;
	border-style: solid;
	border-color: #F2F2F2;
	background-color: #F2F2F2;
	padding-bottom: 0px;
}

#u706_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	position: relative;
	left: -100px;
	padding-top: 49px;
	padding-bottom: 49px;
}

#u727-4
{
	z-index: 108;
	display: block;
	vertical-align: top;
	left: 98px;
	position: relative;
}

#tab-panelu728
{
	z-index: 112;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 98px;
	margin-top: 1px;
	position: relative;
}

#u729
{
	z-index: 113;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u734
{
	z-index: 114;
	width: 481px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
}

#u737
{
	z-index: 116;
	height: 24px;
	width: 481px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u737.png") no-repeat 0px 1px;
}

#u734:hover #u737
{
	background: url("../images/u737-r.png") no-repeat 0px 1px;
}

#u734:active #u737
{
	background: url("../images/u737-m.png") no-repeat 0px 0px;
}

#u734.TabbedPanelsTabSelected #u737
{
	background: url("../images/u737-a.png") no-repeat 0px 0px;
}

#u730
{
	z-index: 120;
	width: 481px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u734.TabbedPanelsTabSelected,#u730.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 481px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u732
{
	z-index: 122;
	height: 24px;
	width: 481px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u732.png") no-repeat 0px 1px;
}

#u730:hover #u732
{
	background: url("../images/u732-r.png") no-repeat 0px 1px;
}

#u730:active #u732
{
	background: url("../images/u732-m.png") no-repeat 0px 0px;
}

#u730.TabbedPanelsTabSelected #u732
{
	background: url("../images/u732-a.png") no-repeat 0px 0px;
}

#u742
{
	z-index: 126;
	width: 961px;
	background-color: transparent;
	position: relative;
}

#u751
{
	z-index: 127;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	margin-right: -10000px;
	position: relative;
}

#pamphletu807
{
	z-index: 128;
	width: 0.01px;
	height: 371px;
	padding-bottom: 106px;
	position: relative;
	margin-right: -10000px;
}

#u817
{
	position: absolute;
	width: 712px;
	background-color: transparent;
	top: 2px;
	left: 249px;
}

#u817popup
{
	z-index: 129;
}

#u828
{
	z-index: 130;
	width: 648px;
	height: 462px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 63px;
	padding-right: 1px;
	padding-bottom: 13px;
	margin-right: -10000px;
	position: relative;
}

#u978-4
{
	z-index: 136;
	display: block;
	vertical-align: top;
	position: relative;
}

#u977-5
{
	z-index: 131;
	width: 168px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 480px;
	margin-top: 27px;
	position: relative;
}

#u977
{
	font-size: 15px;
	line-height: 30px;
}

#pamphletu979
{
	z-index: 140;
	width: 0.01px;
	height: 262px;
	margin-top: 28px;
	position: relative;
}

#u982
{
	z-index: 141;
	width: 525px;
	position: relative;
	margin-right: -10000px;
}

#u984
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/cherquetti%20propiedades%201-u984-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u984:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%201-u984-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u984:active
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%201-u984-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u983
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	left: 178px;
	background: transparent url("../images/cherquetti%20propiedades%202-u983-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u983:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%202-u983-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u983:active
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%202-u983-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u987
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	top: 136px;
	background: transparent url("../images/cherquetti%20propiedades%204-u987-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u987:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%204-u987-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u987:active
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%204-u987-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u986
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	top: 136px;
	left: 179px;
	background: transparent url("../images/cherquetti%20propiedades%205-u986-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u986:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%205-u986-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u986:active
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%205-u986-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u988
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	top: 136px;
	left: 357px;
	background: transparent url("../images/cherquetti%20propiedades%206-u988-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u988:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%206-u988-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u988:active
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%206-u988-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u985
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	left: 357px;
	background: transparent url("../images/cherquetti%20propiedades%203-u985-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u985:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%203-u985-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u985:active
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/cherquetti%20propiedades%203-u985-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u989popup
{
	z-index: 148;
}

#u990
{
	z-index: 149;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/cherquetti%20propiedades%2012.jpg") no-repeat center center;
	background-size: cover;
}

#u992
{
	z-index: 150;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/cherquetti%20propiedades%202.jpg") no-repeat center center;
	background-size: cover;
}

#u993
{
	z-index: 151;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/cherquetti%20propiedades%203.jpg") no-repeat center center;
	background-size: cover;
}

#u994
{
	z-index: 152;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/cherquetti%20propiedades%204.jpg") no-repeat center center;
	background-size: cover;
}

#u991
{
	z-index: 153;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/cherquetti%20propiedades%205.jpg") no-repeat center center;
	background-size: cover;
}

#u995
{
	z-index: 154;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/cherquetti%20propiedades%206.jpg") no-repeat center center;
	background-size: cover;
}

#u997-4
{
	z-index: 156;
	width: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 10px;
}

#u999-4
{
	z-index: 161;
	width: 19px;
	min-height: 9px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 11px;
}

#u980
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	padding-bottom: 5px;
	top: -197px;
	left: 695px;
}

#u980:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u981-4
{
	z-index: 166;
	width: 20px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 21px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u1048
{
	z-index: 170;
	width: 648px;
	height: 325px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 63px;
	padding-right: 1px;
	padding-bottom: 150px;
	margin-right: -10000px;
	position: relative;
}

#u1078-4
{
	z-index: 175;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1077-4
{
	z-index: 171;
	display: block;
	vertical-align: top;
	margin-left: 480px;
	margin-top: 27px;
	position: relative;
}

#pamphletu1079
{
	z-index: 179;
	width: 0.01px;
	height: 126px;
	margin-top: 27px;
	position: relative;
}

#u1082
{
	z-index: 180;
	width: 347px;
	position: relative;
	margin-right: -10000px;
}

#u1083
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/bitdex%201-u1083-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1083:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/bitdex%201-u1083-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1083:active
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/bitdex%201-u1083-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1084
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	left: 178px;
	background: transparent url("../images/bitdex%202-u1084-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1084:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/bitdex%202-u1084-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1085popup
{
	z-index: 183;
}

#u1087
{
	z-index: 184;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/bitdex%2012.jpg") no-repeat center center;
	background-size: cover;
}

#u1086
{
	z-index: 185;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/bitdex%202.jpg") no-repeat center center;
	background-size: cover;
}

#u1089-4
{
	z-index: 187;
	width: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 10px;
}

#u1091-4
{
	z-index: 192;
	width: 19px;
	min-height: 9px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 11px;
}

#u1080
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	padding-bottom: 5px;
	top: -197px;
	left: 695px;
}

#u1080:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1081-4
{
	z-index: 197;
	width: 20px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 21px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u1104
{
	z-index: 201;
	width: 648px;
	height: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 63px;
	padding-right: 1px;
	padding-bottom: 14px;
	margin-right: -10000px;
	position: relative;
}

#u1139-4
{
	z-index: 206;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1138-4
{
	z-index: 202;
	width: 168px;
	min-height: 25px;
	background-color: transparent;
	color: #39BCA4;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 480px;
	margin-top: 27px;
	position: relative;
}

#u1138
{
	font-size: 15px;
	text-decoration: underline;
	line-height: 30px;
}

#pamphletu1140
{
	z-index: 210;
	width: 0.01px;
	height: 262px;
	margin-top: 27px;
	position: relative;
}

#u1152
{
	z-index: 211;
	width: 525px;
	position: relative;
	margin-right: -10000px;
}

#u1155
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/novias%20y%20quinces%201-u1155-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1155:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/novias%20y%20quinces%201-u1155-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1155:active
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/novias%20y%20quinces%201-u1155-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1153
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	left: 178px;
	background: transparent url("../images/novias%20y%20quinces%202-u1153-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1153:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/novias%20y%20quinces%202-u1153-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1156
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	top: 136px;
	background: transparent url("../images/novias%20y%20quinces%204-u1156-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1156:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/novias%20y%20quinces%204-u1156-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1156:active
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/novias%20y%20quinces%204-u1156-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1154
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	left: 357px;
	background: transparent url("../images/novias%20y%20quinces%203-u1154-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1154:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/novias%20y%20quinces%203-u1154-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1154:active
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/novias%20y%20quinces%203-u1154-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1147popup
{
	z-index: 216;
}

#u1150
{
	z-index: 217;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/novias%20y%20quinces%2012.jpg") no-repeat center center;
	background-size: cover;
}

#u1149
{
	z-index: 218;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/novias%20y%20quinces%202.jpg") no-repeat center center;
	background-size: cover;
}

#u1148
{
	z-index: 219;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/novias%20y%20quinces%203.jpg") no-repeat center center;
	background-size: cover;
}

#u1151
{
	z-index: 220;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/novias%20y%20quinces%204.jpg") no-repeat center center;
	background-size: cover;
}

#u1146-4
{
	z-index: 222;
	width: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 10px;
}

#u1142-4
{
	z-index: 227;
	width: 19px;
	min-height: 9px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 11px;
}

#u1143
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	padding-bottom: 5px;
	top: -197px;
	left: 695px;
}

#u1143:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1144-4
{
	z-index: 232;
	width: 20px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 21px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u1181
{
	z-index: 236;
	width: 648px;
	height: 325px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 63px;
	padding-right: 1px;
	padding-bottom: 150px;
	margin-right: -10000px;
	position: relative;
}

#u1204-4
{
	z-index: 237;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1205-10
{
	z-index: 241;
	width: 168px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 30px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 480px;
	margin-top: 27px;
	position: relative;
}

#u1205-4
{
	color: #7F7F7F;
}

#pamphletu1206
{
	z-index: 251;
	width: 0.01px;
	height: 126px;
	margin-top: 27px;
	position: relative;
}

#u1209
{
	z-index: 252;
	width: 168px;
	position: relative;
	margin-right: -10000px;
}

#u1210
{
	position: absolute;
	width: 168px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/direccion%20digital-u1210-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1210:hover
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/direccion%20digital-u1210-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1210:active
{
	width: 168px;
	height: 126px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/direccion%20digital-u1210-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u989,#u1085,#u1147,#u1207
{
	position: absolute;
	width: 1125px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 44px;
	top: -221px;
	left: -374px;
}

#u1207popup
{
	z-index: 254;
}

#u1208
{
	z-index: 255;
	width: 1081px;
	height: 478px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/direccion%20digital2.jpg") no-repeat center center;
	background-size: cover;
}

#u996,#u1088,#u1145,#u1213
{
	position: absolute;
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 204px;
	top: -201px;
	left: -393px;
}

#u1214-4
{
	z-index: 257;
	width: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 10px;
}

#u998,#u1090,#u1141,#u1215
{
	position: absolute;
	width: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 204px;
	top: -201px;
	left: 727px;
}

#u1216-4
{
	z-index: 262;
	width: 19px;
	min-height: 9px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 11px;
}

#u1211
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	padding-bottom: 5px;
	top: -197px;
	left: 695px;
}

#u1211:hover
{
	background-color: #999999;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u980:active,#u1080:active,#u1143:active,#u1211:active
{
	background-color: #6B6B6B;
	width: 30px;
	min-height: 0px;
	margin: 0px;
}

#u1212-4
{
	z-index: 267;
	width: 20px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 21px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u1223
{
	z-index: 271;
	width: 712px;
	height: 475px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1243-5
{
	z-index: 276;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 64px;
}

#u1242-4
{
	z-index: 272;
	width: 168px;
	min-height: 25px;
	background-color: transparent;
	color: #39BCA4;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 544px;
}

#u977-3,#u1138-2,#u1242-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1242
{
	font-size: 15px;
	text-decoration: underline;
	line-height: 23px;
}

#u1244
{
	z-index: 281;
	width: 712px;
	height: 475px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1251-4
{
	z-index: 282;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 293px;
}

#u810
{
	z-index: 286;
	width: 251px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u813
{
	position: absolute;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	top: 67px;
}

#u813:hover
{
	background-color: #FFFFFF;
	width: 250px;
	min-height: 0px;
	margin: 0px;
}

#u814
{
	z-index: 289;
	height: 40px;
	width: 250px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../images/u814.png") no-repeat 0px 0px;
}

#u813:hover #u814
{
	background: url("../images/u814-r.png") no-repeat 0px 0px;
}

#u813:active #u814
{
	background: url("../images/u814-m.png") no-repeat 0px 0px;
}

#u813.PamphletThumbSelected #u814
{
	background: url("../images/u814-a.png") no-repeat 0px 0px;
}

#u1073
{
	position: absolute;
	width: 251px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 132px;
}

#u1073:hover
{
	width: 251px;
	min-height: 0px;
	margin: 0px;
}

#u1076
{
	z-index: 295;
	height: 40px;
	width: 250px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u1076.png") no-repeat 0px 0px;
}

#u1073:hover #u1076
{
	background: url("../images/u1076-r.png") no-repeat 0px 0px;
}

#u1073:active #u1076
{
	background: url("../images/u1076-m.png") no-repeat 0px 0px;
}

#u1073.PamphletThumbSelected #u1076
{
	background: url("../images/u1076-a.png") no-repeat 0px 0px;
}

#u1120
{
	position: absolute;
	width: 251px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	top: 197px;
}

#u1120:hover
{
	width: 251px;
	min-height: 0px;
	margin: 0px;
}

#u1137
{
	z-index: 301;
	height: 40px;
	width: 250px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u1137.png") no-repeat 0px 0px;
}

#u1120:hover #u1137
{
	background: url("../images/u1137-r.png") no-repeat 0px 0px;
}

#u1120:active #u1137
{
	background: url("../images/u1137-m.png") no-repeat 0px 0px;
}

#u1120.PamphletThumbSelected #u1137
{
	background: url("../images/u1137-a.png") no-repeat 0px 0px;
}

#u1201
{
	position: absolute;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 263px;
}

#u1201:hover
{
	width: 250px;
	min-height: 0px;
	margin: 0px;
}

#u1203
{
	z-index: 307;
	height: 40px;
	width: 250px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../images/u1203.png") no-repeat 0px 0px;
}

#u1201:hover #u1203
{
	background: url("../images/u1203-r.png") no-repeat 0px 0px;
}

#u1201:active #u1203
{
	background: url("../images/u1203-m.png") no-repeat 0px 0px;
}

#u1201.PamphletThumbSelected #u1203
{
	background: url("../images/u1203-a.png") no-repeat 0px 0px;
}

#u1237
{
	position: absolute;
	width: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 330px;
}

#u1237:hover
{
	width: 250px;
	min-height: 0px;
	margin: 0px;
}

#u813.PamphletThumbSelected,#u1201.PamphletThumbSelected,#u1237.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 250px;
	min-height: 0px;
	margin: 0px;
}

#u1239
{
	z-index: 313;
	height: 40px;
	width: 250px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	background: url("../images/u1239.png") no-repeat 0px 0px;
}

#u1237:hover #u1239
{
	background: url("../images/u1239-r.png") no-repeat 0px 0px;
}

#u1237:active #u1239
{
	background: url("../images/u1239-m.png") no-repeat 0px 0px;
}

#u1237.PamphletThumbSelected #u1239
{
	background: url("../images/u1239-a.png") no-repeat 0px 0px;
}

#u1247
{
	position: absolute;
	width: 251px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -1px;
	left: -1px;
}

#u1247:hover
{
	width: 251px;
	min-height: 0px;
	margin: 0px;
}

#u1073.PamphletThumbSelected,#u1120.PamphletThumbSelected,#u1247.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 251px;
	min-height: 0px;
	margin: 0px;
}

#u1250
{
	z-index: 319;
	height: 40px;
	width: 250px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
	background: url("../images/u1250.png") no-repeat 0px 0px;
}

#u1247:hover #u1250
{
	background: url("../images/u1250-r.png") no-repeat 0px 0px;
}

#u1247:active #u1250
{
	background: url("../images/u1250-m.png") no-repeat 0px 0px;
}

#u1247.PamphletThumbSelected #u1250
{
	background: url("../images/u1250-a.png") no-repeat 0px 0px;
}

#u743
{
	z-index: 323;
	width: 116px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-right: 845px;
	padding-bottom: 337px;
	margin-right: -10000px;
	position: relative;
}

#u1258
{
	z-index: 324;
	width: 116px;
	background-color: transparent;
	position: relative;
}

#u1264-4
{
	z-index: 326;
	display: block;
	vertical-align: top;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.TabbedPanelsTab /* pamphlet2 */
{
	cursor: pointer;
}

#u706-bw
{
	z-index: 107;
	min-height: 676.9957758620698px;
}

#u1575-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 48px;
	position: relative;
}

#pppu1618
{
	width: 0.01px;
	margin-top: 5px;
}

#ppu1618
{
	width: 0.01px;
	margin-right: -10000px;
}

#pu1618
{
	width: 0.01px;
}

#u1618
{
	z-index: 29;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1618:hover
{
	background-color: #3F3F3F;
	background-color: rgba(0,0,0,0.75);
	width: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.75);
}

#u1624
{
	z-index: 31;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u1624:hover
{
	background-color: #3F3F3F;
	background-color: rgba(0,0,0,0.75);
	width: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.75);
}

#u1630
{
	z-index: 33;
	width: 35px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u1630:hover
{
	background-color: #3F3F3F;
	background-color: rgba(0,0,0,0.75);
	width: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0,0,0,0.75);
}

#u1618_img:hover,#u1624_img:hover,#u1630_img:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u2018-4
{
	z-index: 470;
	width: 106px;
	min-height: 35px;
	background-color: #39BCA4;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 23px;
	margin-top: 5px;
	position: relative;
}

#u2018-4:hover
{
	background-color: #6ACCBA;
	background-color: rgba(57,188,164,0.75);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 106px;
	margin: 5px 0px 0px;
	-pie-background: rgba(57,188,164,0.75);
}

#u2018-2
{
	padding-top: 5px;
}

#u1606
{
	z-index: 23;
	width: 682px;
	min-height: 532px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

#contacto
{
	margin-left: 468px;
	margin-top: 33px;
	position: relative;
}

#pinicio,#pu618,#pu690,#pu1617
{
	width: 0.01px;
	margin-left: -100px;
}

#u1617
{
	z-index: 35;
	min-height: 180px;
	background-color: #F2F2F2;
	padding-bottom: 312px;
}

#u1333_align_to_page,#u619_align_to_page,#u1617_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u959-4
{
	z-index: 103;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 99px;
}

#u936-4
{
	z-index: 42;
	width: 250px;
	min-height: 30px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 324px;
}

#u1305-4
{
	z-index: 99;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 608px;
}

#u935-6
{
	z-index: 36;
	width: 300px;
	min-height: 30px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 27px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 708px;
}

#u935-2
{
	font-weight: bold;
}

#u1617-bw
{
	z-index: 35;
	min-height: 180px;
}

#widgetu937
{
	z-index: 46;
	width: 0.01px;
	height: 213px;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 149px;
}

#widgetu945
{
	z-index: 47;
	width: 399px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#widgetu945.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 399px;
	height: 40px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u947-4
{
	z-index: 48;
	width: 387px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #39BCA4;
	border-radius: 5px;
	padding: 6px;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 26px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu945.non-empty-st #u947-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #39BCA4;
	margin: -1px -10001px -1px -1px;
}

#widgetu945.non-empty-st #u947-4 *
{
	color: #F2F2F2;
	font-style: normal;
}

#widgetu949
{
	z-index: 52;
	width: 399px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#widgetu949.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 399px;
	height: 40px;
	min-height: 0px;
	margin: 51px -10000px 0px 0px;
}

#u952-4
{
	z-index: 53;
	width: 387px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #39BCA4;
	border-radius: 5px;
	padding: 6px;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 26px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu949.non-empty-st #u952-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #39BCA4;
	margin: -1px -10001px -1px -1px;
}

#widgetu949.non-empty-st #u952-4 *
{
	color: #F2F2F2;
	font-style: normal;
}

#u942-4
{
	z-index: 57;
	width: 200px;
	min-height: 18px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 647px;
}

#widgetu937.frm-sub-st #u942-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 22px;
}

#u944
{
	z-index: 62;
	height: 20px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 647px;
}

#widgetu937.frm-subm-err-st #u944
{
	background: url("../images/u944-fse.png") no-repeat 0px 0px;
}

#u943-4
{
	z-index: 64;
	width: 200px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #000000;
	font-size: 15px;
	text-align: center;
	line-height: 15px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 647px;
}

#widgetu937.frm-subm-ok-st #u943-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 20px;
}

#widgetu937.frm-sub-st #u942-4 p,#widgetu937.frm-subm-ok-st #u943-4 p
{
	color: #000000;
	line-height: 1.25;
	font-size: 15px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-style: normal;
}

#u957-17
{
	z-index: 68;
	min-height: 30px;
	width: 225px;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 634px;
	background: url("../images/u957-17.png") no-repeat 0px 0px;
}

#u957-17:hover
{
	background: url("../images/u957-17-r.png") no-repeat 0px 0px;
}

#u957-17:active
{
	background: url("../images/u957-17-m.png") no-repeat 0px 0px;
}

#widgetu937.frm-sub-st #u957-17
{
	background: url("../images/u957-17-fs.png") no-repeat 0px 0px;
}

#widgetu938
{
	z-index: 85;
	width: 450px;
	height: 141px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 409px;
}

#widgetu938.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 450px;
	height: 141px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u940-4
{
	z-index: 86;
	width: 438px;
	min-height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: #39BCA4;
	border-radius: 5px;
	padding: 6px;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 26px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu938.non-empty-st #u940-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #39BCA4;
	margin: -1px -10001px -1px -1px;
}

#widgetu938.fld-err-st #u940-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 129px;
	width: 438px;
	margin: -1px -10001px -1px -1px;
}

#widgetu938.non-empty-st #u940-4 *
{
	color: #F2F2F2;
	font-style: normal;
}

#widgetu938_input,#widgetu938_prompt
{
	width: 438px;
	min-height: 129px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-size: 15px;
	padding: 6px;
}

#widgetu953
{
	z-index: 90;
	width: 399px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
}

#widgetu953.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 399px;
	height: 40px;
	min-height: 0px;
	margin: 101px -10000px 0px 0px;
}

#u954-4
{
	z-index: 91;
	width: 387px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: #39BCA4;
	border-radius: 5px;
	padding: 6px;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 26px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#widgetu953.non-empty-st #u954-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #39BCA4;
	margin: -1px -10001px -1px -1px;
}

#widgetu945.fld-err-st #u947-4,#widgetu949.fld-err-st #u952-4,#widgetu953.fld-err-st #u954-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 387px;
	margin: -1px -10001px -1px -1px;
}

#widgetu953.non-empty-st #u954-4 *
{
	color: #F2F2F2;
	font-style: normal;
}

#widgetu945.fld-err-st #u947-4 *,#widgetu949.fld-err-st #u952-4 *,#widgetu938.fld-err-st #u940-4 *,#widgetu953.fld-err-st #u954-4 *
{
	color: #D7244C;
	font-weight: bold;
	font-style: normal;
}

#widgetu945_input,#widgetu945_prompt,#widgetu949_input,#widgetu949_prompt,#widgetu953_input,#widgetu953_prompt
{
	width: 387px;
	min-height: 28px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-size: 15px;
	padding: 6px;
}

#widgetu945.fld-err-st #widgetu945_input,#widgetu945.fld-err-st #widgetu945_prompt,#widgetu949.fld-err-st #widgetu949_input,#widgetu949.fld-err-st #widgetu949_prompt,#widgetu938.fld-err-st #widgetu938_input,#widgetu938.fld-err-st #widgetu938_prompt,#widgetu953.fld-err-st #widgetu953_input,#widgetu953.fld-err-st #widgetu953_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu945.non-empty-st #widgetu945_prompt,#widgetu949.non-empty-st #widgetu949_prompt,#widgetu938.non-empty-st #widgetu938_prompt,#widgetu953.non-empty-st #widgetu953_prompt
{
	visibility: hidden;
}

#u1304-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 149px;
}

#pu1516-4
{
	width: 0.01px;
	margin-top: 3px;
}

#u1516-4
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 3px;
	left: 660px;
}

#u1517
{
	z-index: 6;
	width: 15px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 657px;
}

#u2005-4
{
	z-index: 18;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1521
{
	z-index: 10;
	width: 30px;
	margin-right: -10000px;
	left: 85px;
}

#u1523
{
	z-index: 12;
	width: 30px;
	margin-right: -10000px;
	left: 116px;
}

#u1519
{
	z-index: 8;
	width: 30px;
	margin-right: -10000px;
	left: 147px;
}

#u1525
{
	z-index: 14;
	width: 30px;
	margin-right: -10000px;
	left: 178px;
}

#u1527
{
	z-index: 16;
	width: 30px;
	margin-right: -10000px;
	left: 209px;
}

#u1521:hover,#u1523:hover,#u1519:hover,#u1525:hover,#u1527:hover
{
	width: 30px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 40px;
}

#page .verticalspacer
{
	clear: both;
}

